<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>first api</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
    <script src="/scripts.js"></script>
</head>
<body>
<div>
    <div id="headercont">
    <a href="/landing" class="header header1">Home</a>
    <a href="#" class="header header2">About</a>
    <a href="/talk" class="header header3">speakers</a>
    <a href="/testimony" class="header header3">testimony</a>
    <a href="#" class="header header4">contacts</a>
</div>
<div class="advert">
    <div class="showads">
        <div class="showad">
            advertsLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\
            advertsLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            advertsLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            
        </div>
    </div>
        <div id="indexHead">
            <img src="../img/ads.png" alt="adverts img" id="adsimg">
        </div>
</div>
